*{ 
    margin: 0px;
    padding: 0px;
} 
/* banner section has been started */
.banner-container{ 
    height: 100vh; 
    background-color: rgba(229, 84, 115, 0.10);
    display: flex; 
    align-items: center;
    justify-content: space-evenly;

} 
.banner-content-title{ 
    color: #272727;
    font-size: 45px;
    font-weight: 900;
} 
.banner-content-description{ 
    padding: 10px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
} 
.banner-btn{ 
    background-color: orangered;
    color: white;
    padding: 10px 15px;
    border: none; 
    border-radius: 2px;
}
.banner-content{ 
    width: 350px;
}
.frist-banner-img{ 
    width: 400px;
    height: 550px;
} 
/* banner section has been finished */ 

/* main section featured part started */ 
.featured-container{ 
    background-color: #fffbfb;
    text-align: center;
    padding-top: 100px;
    height: 100vh;
    width: 70%; 
    margin: 0 auto;
} 
.featured-title{ 
    font-size:25px;
}
.featured-description{ 
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 11px;
    font-weight: 300;
    width: 270px; 
    margin: 0 auto;
}  
.featured-imges{ 
    display: flex; 
    align-items: center; 
    gap: 30px;
    justify-content: center;
} 
.featured-round-img1{ 
    border: none; 
    text-align: center;
    background-color: #dabcda;
    border-top-left-radius:  100px; 
    border-top-right-radius: 100px;
    margin-top: 35px;
} 
.featured-round-img2{ 
    border: none; 
    text-align: center;
    background-color: #bee0eb;
    border-top-left-radius:  100px; 
    border-top-right-radius: 100px;
    margin-top: 35px;
    
} 
.featured-round-img3{ 
    border: none; 
    text-align: center;
    background-color: #a8d4bc;
    border-top-left-radius:  100px; 
    border-top-right-radius: 100px;
    margin-top: 35px;
}
.round-img{ 
    position: relative;
    height: 280px;
    width: 200px; 
    top: 32px;
    padding: 30px 37px;

} 
.featured-anchore { 
    display: flex;
    justify-content: space-evenly;
    margin-top: -160px;
} 
.featured-anchore a{ 
    color: black;
    font-weight: bold;
} 
.featured-round-img1:hover{ 
    background-color: rgb(201, 194, 187);
} 
.featured-round-img2:hover{ 
    background-color: beige;
} 
.featured-round-img3:hover{ 
    background-color: rgb(159, 182, 203);
} 
/* featured section has been finished */ 

/*  support section has been started */ 
.support-container{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 70%; 
    height: 180px;
    margin: 0 auto;
    position: relative;
    top: 60px;
} 
.support-content{ 
    text-align: center;
    padding: 25px 10px;

}
.support-img{ 
    width: 50px;
} 
/* support section has been finished */
/* new arrival section has been started */
 .new-arrival-container{ 
    width: 70%;
    height: 410px;
    margin: auto;
    text-align: center; 
    margin-top: 100px;
    background-color: #fffeff;
 } 
 .new-arrival-title{ 
    font-size: 30px;
    font-weight: 500px;
 } 
 .new-arrival-description{ 
    font-size: 13px;
    padding: 10px 5px;
 }
 .new-arrival-span{ 
    color: orangered;
 }
 .new-arrival-content{ 
    width: 75%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 51px; 
 }
 .img{ 
    width: 280px; 
    height: 310px;
    border-radius: 10px; 
 } 
 /* new arrival section finished */
/* hot deal section has been started */
.hot-deal-container{ 
    width: 70%; 
    height: 550px;
    margin: 0 auto; 
    position: relative;
    top: 150px;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background: rgba(229, 84, 115, 0.05);
} 
.hot-deal-content{ 
    text-align: center; 
    width: 400px;
}
.hot-deal-title{ 
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
} 
.hot-deal-title   span{ 
    color: orangered;
}
.hot-deal-description{ 
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    padding: 15px 5px;
    font-style: normal;
    font-weight: 200;
} 
.hot-deal-button{ 
    background-color: orangered; 
    color: white;
    border: none;
    padding: 10px 17px; 
    border-radius: 3px;

} 
.hot-deal-img{ 
    width: 200px;
    height: 300px;
} 
/* hot deal section finished */ 

/* instagram section started  */
.instagram-container{ 
    height: 600px; 
    width: 70%;
    text-align: center; 
    margin: 0 auto;
    text-align: center; 
    background-color: white; 
    position: relative;
    top:250px
} 
.instagram-content-img{ 
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 30px;
} 
.instagram-img-box{ 
    width: 200px; 
    margin-top: 25px;

} 
.instagram-title{ 
    padding: 10px 5px;
    font-size: 30px;
} 
.instagram-description{ 
    padding: 10px; 
    width: 300px; 
    text-align: center; 
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 300;
} 
/* instagram section finished */
/* latest section has been started */ 
.coupon-section{ 
    width: 70%;
    height: 300px; 
    background-image: url('./assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size:cover ; 
    background-position: top;
    border-radius: 5px;
    margin: 0 auto; 
    position: relative;
    top: 150px;
}  
.coupon-title{ 
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 700; 
    padding: 10px;
} 
.coupon-description{ 
    text-align: center; 
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;

}
.coupon-content{ 
    padding: 100px 0px;
} 
.input-part{ 
 padding: 0px 200px; 
 position: relative;
 bottom: 90px;
} 
.coupon-input{ 
    width: 360px;
    padding: 12px 15px; 
    border: none;
    border-radius: 8px;
    background: #FFF;
}
.coupon-button{ 
    padding: 10px 15px;
    background-color: orangered; 
    color: white;
    border: none;
} 
/* latest coupon section has been finished */

/* footer section has been started */

.footer-container{ 
    height: 300px;
    background: #181717;
    color: white; 
    text-align: center;
    margin-top: 230px; 
    padding-top: 150px;
} 
.footer-title{ 
  font-size: 40px;
  font-weight: 700;
}
.footer-span{ 
    color: orange;
} 
.footer-description{ 
    width: 400px;
    margin: 0 auto;
    color: rgba(235, 229, 229, 0.9);
    padding: 10px 10px;

    font-size: 14px;
    font-style: normal;
    font-weight: 300;
} 
.footer-bottom{ 
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
} 
/*  footer section has been finished */