*{ 
    margin: 0px;
    padding: 0px;
} 
/* banner section has been started */
.banner-container{ 
    height: 100vh; 
    background-color: rgba(229, 84, 115, 0.10);
    display: flex; 
    align-items: center;
    justify-content: space-evenly;

} 
.banner-content-title{ 
    color: #272727;
font-size: 45px;
font-weight: 900;
} 
.banner-content-description{ 
    padding: 10px 0px;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 16px;
font-weight: 300;
line-height: 25px;
} 
.banner-btn{ 
    background-color: orangered;
    color: white;
    padding: 10px 15px;
    border: none; 
    border-radius: 2px;
}
.banner-content{ 
    width: 350px;
}
.frist-banner-img{ 
    width: 400px;
    height: 550px;
} 
/* banner section has been finished */ 

/* main section featured part started */ 
.featured-container{ 
    background-color: #fff6f6;
    text-align: center;
    padding-top: 100px;
    height: 100vh;
    width: 70%; 
    margin: 0 auto;
} 
.featured-title{ 
    font-size:25px;
}
.featured-description{ 
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 11px;
font-weight: 300;
    width: 270px; 
    margin: 0 auto;
}  
.featured-imges{ 
    display: flex; 
    align-items: center; 
    gap: 30px;
    justify-content: center;
} 
.featured-round-img1{ 
    border: none; 
    text-align: center;
    background-color: #dabcda;
    border-top-left-radius:  100px; 
    border-top-right-radius: 100px;
    margin-top: 35px;
} 
.featured-round-img2{ 
    border: none; 
    text-align: center;
    background-color: #bee0eb;
    border-top-left-radius:  100px; 
    border-top-right-radius: 100px;
    margin-top: 35px;
    
} 
.featured-round-img3{ 
    border: none; 
    text-align: center;
    background-color: #a8d4bc;
    border-top-left-radius:  100px; 
    border-top-right-radius: 100px;
    margin-top: 35px;
}
.round-img{ 
    position: relative;
    height: 280px;
    width: 200px; 
    top: 32px;
    padding: 30px 37px;

} 
.featured-anchore { 
    display: flex;
    justify-content: space-evenly;
    margin-top: -160px;
} 
.featured-anchore a{ 
    color: black;
    font-weight: bold;
} 
.featured-round-img1:hover{ 
    background-color: rgb(201, 194, 187);
} 
.featured-round-img2:hover{ 
    background-color: beige;
} 
.featured-round-img3:hover{ 
    background-color: rgb(159, 182, 203);
} 
/* featured section has been finished */ 

/*  support section has been started */ 

